      <div class="calltoaction-button">
          <a href="http://simplon.co"><img src="/assets/logosimplonve_bleu.png" class="polygone-bleu" /><img src="/assets/logosimplonve_vert.png"  class="polygone-vert"/></a>
      </div>





