<div class="calltoaction-button">
	<a href="http://simplon.co">
	<%= image_tag("logosimplonve_bleu.svg", class: "polygone-bleu") %>
	<%= image_tag("logosimplonve_vert.svg", class: "polygone-vert") %></a>
</div>
<div class="intro_simplonve">
	<h2>Simplon VE</h2>
	</br>
	<p>A l'ombre des châtaigniers ardéchois, SimplonVE c'est une fabrique sociale et solidaire de développeurs.</p>
	<p>Pendant six mois, les simploniens pourront s'adapter aux différents outils, technologies et au travail en équipe.</p>
</div>
