      <div class="calltoaction-button">
          <a href="http://simplon.co"><img src="/assets/logosimplonve_bleu.svg" class="polygone-bleu" /><img src="/assets/logosimplonve_vert.svg" class="polygone-vert"/></a>
      </div>





