<div class="calltoaction">
	<div class="calltxt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio impedit culpa quis aperiam ipsa praesentium soluta nulla ullam atque similique officiis nam temporibus voluptas maiores possimus perspiciatis, ratione veniam provident!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio impedit culpa quis aperiam ipsa praesentium soluta nulla ullam atque similique officiis nam temporibus voluptas maiores possimus perspiciatis, ratione veniam provident!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio impedit culpa quis aperiam ipsa praesentium soluta nulla ullam atque similique officiis nam temporibus voluptas maiores possimus perspiciatis, ratione veniam provident!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio impedit culpa quis aperiam ipsa praesentium soluta nulla ullam atque similique officiis nam temporibus voluptas maiores possimus perspiciatis, ratione veniam provident!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio impedit culpa quis aperiam ipsa praesentium soluta nulla ullam atque similique officiis nam temporibus voluptas maiores possimus perspiciatis, ratione veniam provident!</p>
	</div>

      <div class="calltoaction-button">
          <a href="http://simplon.co">
            <img src="images/logosimplonve_bleu.svg" class="polygone-bleu"/>
            <img src="images/logosimplonve_vert.svg" class="polygone-vert"/>
          </a>
      </div>
