<script>
		function executeQuery() 
	  	$.ajax({
		    success: function(data) {
		      $('#texte').load('home/index #texte')
		    }
		  });
		}
		$(document).ready(function() {
		  setInterval(executeQuery, 10000);
		});
</script>
<div id="texte" class="zone-citation">
 	<div id='mainText'>
 		<div class="citation">
 			<q><%= @citation.citation %></q>
 		</div>
 		<div class="auteur">
 			<%= @citation.auteur %>
 		</div>
 	</div>
	<script>
		function letterer(element){
			if( !document.createTreeWalker ) return false;
			
			var letter, letterElm, parent, wordElm, letters, walker, node, 
				supportsTrim = String.prototype.trim;
				
			walker = document.createTreeWalker(element, NodeFilter.SHOW_TEXT, null, false);

			while( node = walker.nextNode() ){
			   if( node.nodeType == 3 ){
					if( supportsTrim ? node.nodeValue.trim() : node.nodeValue ){
						letters = node.nodeValue.split('').reverse();
						wordElm = document.createElement('word');
						node.nodeValue = '';
						parent = node.parentNode;		
						// do this for every letter in this text-node
						while( letter = letters.pop() ){
							letterElm = document.createElement('letter');
							letterElm.className = 'initial'; // add a class for transition purposes 
							letterElm.innerHTML = letter;
							
							// check for a space
							if( letter == ' ' ){
								parent.insertBefore( wordElm, node );
								wordElm = document.createElement('word');
								parent.insertBefore( letterElm, node );
							}
							else
								wordElm.appendChild(letterElm);
						}
						parent.insertBefore( wordElm, node );
					}
				}
			}
		}

		var lettersContainer = document.getElementById('mainText'),
		letters, 
		delay = 180,
		delayJump = 10,
		totalLetters;

		letterer( lettersContainer );

		letters = lettersContainer.getElementsByTagName('letter');
		totalLetters = letters.length;

		for( var i=0; i < totalLetters; i++ ){
			doTimer(letters[i], delay);
			delay += delayJump;
			if( letters[i].innerHTML == ' ' )
			delay += delayJump * 18;
		}

		function doTimer(letter, delay){
			setTimeout(function(){ 
			letter.removeAttribute('class');
			}, delay);
		}
	</script>
</div>    