<div class="zone-citation">
 	<div id='mainText'>
 		<div class="citation">
 			<q><%= @citation.citation %></q>
 		</div>
 		<div class="auteur">
 			<%= @citation.auteur %>
 		</div>
 	</div>
 	<%= javascript_include_tag "letters_container.js" %>
<!-- 	<meta http-equiv="Refresh" content="10"> -->
</div>