<div class="entete">
<<<<<<< HEAD
	<div class="logo">
		<%= image_tag("logosimplonveseul.svg", class: "logo_simplonve") %>
	</div>
	<div class="titre-logo">Fabrique sociale de codeurs</div>
</div>
=======
	<div class="logo"><%= image_tag("logosimplonveseul.svg", class: "logo_simplonve") %></div>
	<div class="titre-logo">Fabrique sociale de codeurs</div> 
</div>
<%= image_tag('photo-accueil-reduc.jpg', class: "fond-ecran")%>
>>>>>>> 6a53066d1384eb919585b2d45f8d195b2c77430e
