<div class="entete">
	<div class="logo">
		<%= link_to root_path do %>
      <%= image_tag("logosimplonveseul.svg", class: "logo_simplonve") %>
    <% end %>
	</div>
	<div class="titre-logo">
    <%= t('slogan') %><br>
		<%= t('slogan2') %>
	</div>
</div>