
<<<<<<< HEAD
<img class="img" src="images/logosimplonve.svg" alt="simplonv Logo">
=======
<img class="img" src="/assets/logosimplonvemaster.svg" alt="SimplonVE Logo">
>>>>>>> 3d9b38e5dad0e2335dfc4a046d6a9cde0ce08111


<div class="intro1">
	A l'ombre des châtaigniers ardéchois, SimplonVE : c'est une fabrique sociale et solidaire de développeurs. 
	Pendant six mois, les simploniens pourront s'adapter aux différents outils, technologies et au travail en équipe.
</div>	
<div class="intro2">
	D'horizons différents, ils s'éveillent à l'auto-apprentissage dans une synergie de groupe, partageant leur expérience et leurs compétences.
</div>

