<div class="entete">
	<div class="logo"><%= image_tag("logosimplonveseul.svg", class: "logo_simplonve") %></div>
	<div class="titre-logo">Fabrique sociale de codeurs</div> 
</div>
<%= image_tag('photo-accueil.jpg', class: "fond-ecran")%>