<div class="container_logo">
	<div class="logo">
		<img src="images/logo_conseil_ardeche2.svg" class="grayscale">
		<img src="images/logo_region_RA2.svg" class="grayscale">
		<img src="images/logo_AGEFOS.jpg" class="grayscale">
		<img src="images/logo_fond_paritaire.jpg" class="grayscale">
		<img src="images/logo_pole_emploi.jpg" class="grayscale">
	</div>
</div>