<div class="container_logo">
	<div class="logo">
		<%= image_tag("logo_conseil_ardeche2.svg", class: "grayscale") %>
		<%= image_tag("logo_region_RA2.svg", class: "grayscale") %>
		<%= image_tag("logo_AGEFOS.jpg", class: "grayscale") %>
		<%= image_tag("logo_pole_emploi.jpg", class: "grayscale") %>
	</div>
</div>

