<div class="presse">
	<h2 class="titre-presse">Ils parlent de nous</h2>
	<div class="container-presse">
		<div class="logo-presse">
      <%= link_to image_tag("logo_rdb.png", class: "rdb_logo grayscale"), url_for(href="http://www.rdbfm.com/public/podcasts/auto_ftp/Sans prejuges/2015-09-29 Sans prejuges.mp3"), :target => :blank  %>
			<%= link_to image_tag("france_bleu_logo2.png", class: "francebleu_logo grayscale"), url_for(href="http://www.francebleu.fr/infos/site-internet/une-formation-de-codeurs-numeriques-s-implante-au-cheylard-2314203"), :target => :blank  %>
			<%= link_to image_tag("dauph_logo.png", class: "dauph_logo grayscale"), url_for(href="http://www.ledauphine.com/ardeche/2014/08/30/avec-leur-ecole-de-codeurs-les-boutieres-passent-a-la-vitesse-2-0"), :target => :blank %>
			<%= link_to image_tag("france3_logo.svg", class: "france3_logo taille_presse grayscale"), url_for(href="http://france3-regions.francetvinfo.fr/rhone-alpes/2015/04/28/le-cheylard-l-heure-du-numerique-une-formation-pour-apprendre-coder-714137.html"), :target => :blank %>
		</div>
	</div>
</div>