<h2>Ils parlent de nous</h2>
<%= image_tag("france_bleu_logo2.png", class: "francebleu_logo") %>
<%= image_tag("dauph_logo.png", class: "dauph_logo") %>
<%= image_tag("france3_logo.svg", class: "france3_logo") %>
