<h2>Ils parlent de nous</h2>
<div class="container_logo">
	<div class="logo">
		<%= image_tag("france_bleu_logo2.png", class: "francebleu_logo style_logo grayscale taille_presse") %>
		<%= image_tag("dauph_logo.png", class: "dauph_logo style_logo grayscale") %>
		<%= image_tag("france3_logo.svg", class: "france3_logo style_logo grayscale taille_presse") %>
	</div>
</div>