<div class="intro_simploniens">
	<h2> Les Simploniens</h2>
	</br>
	<p class="simploniens">
		D'horizons différents, ils <b>s'éveillent</b> à l'auto-<b>apprentissage</b> dans une synergie de <b>groupe</b>, partageant leur <b>expérience</b> et leurs compétences. 
	</p>
</div>

<div id="map"></div>
<%= javascript_include_tag "map.js" %>