<div class="intro_simploniens">
	<h2 class="simploniens"> Les Simploniens</h2>
	</br>
	<p class="simploniens">
	C'est avant tout un <b>groupe</b> de personnes issues d'horizons différents. Elles apprennent à se connaître en <b>échangeant</b> leurs expériences et leurs connaissances.
	Au fil de leur formation, elles découvrent les métiers du numérique par l'auto-<b>apprentissage </b>et la pratique.<br>
	Le <b> partage </b> des savoirs et savoir-faire fait partie intégrante de la vie des simploniens. </p>
	    
		<!-- D'horizons différents, ils <b>s'éveillent</b> à l'auto-<b>apprentissage</b> dans une synergie de <b>groupe</b>, partageant leurs <b>expériences</b> et leurs compétences. 
	</p> -->
</div>

<div id="map"></div>
<script>
	var tilesService = new L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
		attribution: '',
		subdomains: ['otile1', 'otile2', 'otile3', 'otile4'],
		maxZoom: 18
	});

var map = L.map('map').setView([44.912404, 4.43767360689655], 8).addLayer(tilesService);

var circle = L.circle([44.912404, 4.43767360689655], 50,{
	color: 'red',
	fillColor: '#f03',
	fillOpacity: 0.5
}).addTo(map);

circle.bindPopup("Simplon.VE").openPopup();	
</script>