<img class="img" src="images/logoSimplonVE.jpg" alt="SimplonVE Logo">

<p>La fabrique sociale de développeurs(euses) Ardéchoise</p>

<div class="reseaux_sociaux">
  <a href="https://twitter.com/simplonve" class="twitter-follow-button" data-show-count="false">Suivre @SimplonVE</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  <a href="http://www.facebook.com/simplonve" target="_blank"><img src="images/facebook_button.png"></a>
</div>

<p>Created with ♥ on Ruby on Rails</p>
