<h1>Bienvenue sur le site de SimplonVE</h1>

<img class="img" src="images/simplonve.png" alt="SimplonVE Logo">

<p>Ceci est la premiére page de la promo n°1</p>

<img src="images/ruby_on_rails.png" atl="Ruby on Rails Logo" height="5%" width="5%">

<p>Ce site est réaliser avec Ruby on Rails</p>

<div class="reseau-sociaux">
        <a href="https://twitter.com/simplonve" class="twitter-follow-button" data-show-count="false">Follow @simplonve</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
</div>