<h1>Bienvenue sur le site de SimplonVE</h1>

<img class="img" src="images/simplonve.png" alt="SimplonVE Logo">

<h2>Ceci est la premiére page de la promo n°1</h2>

<img src="images/ruby_on_rails.png" atl="Ruby on Rails Logo" height="5%" width="5%">

<h2>Ce site est réaliser avec Ruby on Rails</h2>