<ul class="navigationve">
	<li class="navigationve-link"><%= link_to 'Blog', articles_path %></li>
	<li class="navigationve-link"><%= link_to 'Intervenants', intervenants_path %></li>
</ul>

<h1>Bienvenue sur le site de SimplonVE</h1>

<img class="img" src="images/logoSimplonVE.jpg" alt="SimplonVE Logo">

<p>Ceci est la première page de la promo n°1</p>

<img src="images/ruby_on_rails.png" atl="Ruby on Rails Logo" height="5%" width="5%">

<p>Ce site est réalisé avec Ruby on Rails</p>

<div class="reseaux_sociaux">
        <a href="https://twitter.com/simplonve" class="twitter-follow-button" data-show-count="false">Follow @SimplonVE</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <a href="http://www.facebook.com/simplonve" target="_blank"><img src="images/facebook_button.png"></a>
    	
</div>
