<div class = "page_action">
	<div class="texte_page_action">
		<h2 class="titre_page_action"> Prochaine session </h2>
		<p>
			Mi avril 2015, la communauté de communes Val'Eyrieux et Simplon.co ont lancé leur première promo Simplon.VE au Cheylard avec 20 personnes.
		</p>
		<p>
			Leur but : acquérir des compétences de développeur grâce à des projets Web pro à destination des entreprises, des associations et des collectivités.
		</p>
		<p>
			Les débouchés de cette formation sont variés afin de permettre à chacun de construire un parcours professionnel dans le secteur prometteur du numérique.
		</p>
		<p>
			Alors, n'hésitez plus, débutant ou non, venez rejoindre la prochaine promo Simplon.VE au printemps 2016.
		</p>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action">	Intervenants extérieurs</h2>
		<p>
			L'école numérique SimplonVE est ouverte aux intervenants extérieurs. Développeurs, designers, que vous soyez freelance ou entrepreneur, venez échanger avec nous sur vos connaissances et vos expériences. Vous êtes les bienvenus au sein de cette formation.
		<p/>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action">Vos attentes, vos besoins</h2>
		<p>
			Un projet numérique dans les cartons ? Qu'il soit petit ou grand, n'hésitez pas à nous contacter.
		</p>
		<p>
	 		Nous utilisons les technologies à la pointe du développement Web et mobile.
		</p>
		<p>
			Des développeurs professionnels issus de Simplon.VE vous accompagneront pour concrétiser votre projet.
		</p> 
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action">	Développement territorial et économie sociale et solidaire (ESS)</h2>
		<p>
			Les  entreprises industrielles, les artisans, les commerces, les structures associatives, les agriculteurs, le milieu de la santé, la vie culturelle etc... sont présents sur le territoire et apportent une vraie richesse.
		</p>
		<p>
			Nous voulons soutenir activement cette richesse territoriale et l'économie sociale et solidaire.
		</p>
		<p>
			Plusieurs projets ont déjà vu le jour dans ce sens : mise en relation de producteurs et de consommateurs, ateliers découverte numérique et robotique pour les enfants, etc.
		</p>
		<p>
			Nous sommes convaincus que dans ce territoire, d'autres projets peuvent être réalisés en collaboration avec Simplon.VE.
		</p>   

	</div>
</div>