<div class = "page_action">
	<div class="texte_page_action">
		<h2 class="titre_page_action"> Des origines à la mise en situation professionnelle</h2>
		<p>
			Début avril 2015, la communauté de communes Val'Eyrieux et Simplon.co ont lancé conjointement un projet innovant de formation au numérique sous le nom de Simplon.VE, basé au sein du pôle économique Pôleyrieux dans la ville du Cheylard.
		</p>
		<p>
			Les 20 personnes de la première promotion affutent leurs compétences de développeur web (intégration, algorithymie, production logicielle, processus de développement). Ces compétences se concrétisent sous forme de projets web profesionnels à destination des entreprises, des associations et des collectivités.
		</p>
		<p>
			Les débouchés de cette formation sont variés : du créateur site vitrine intégré au développeur salarié backend en passant par l'animation de groupe en tant que référent numérique (un couteau suisse). Chacun construit son parcours professionnel dans le secteur prometteur du numérique.
		</p>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action"> Les intervenants extérieurs</h2>
		<p>
			La fabrique de codeurs SimplonVE est ouverte aux intervenants extérieurs. Développeurs, designers, que vous soyez freelance ou entrepreneur, venez échanger avec nous sur vos connaissances et vos expériences. Vous êtes les bienvenus au sein de cette formation.
		<p/>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action">Nous répondons à vos besoins web</h2>
		<p>
			Un projet numérique dans les cartons ? Contactez-nous par email ou les réseaux sociaux. Les étudiants travaillent sur la conception de sites web et d’applications mobiles, indispensables pour assurer une présence numérique. 
		</p>
		<p>
			Des développeurs professionnels issus de Simplon.VE et Simplon.co à Paris vous accompagneront depuis la conception jusqu'à la mise en ligne de vos projets profesionnels.
		</p>
		<p>
			Nous utilisons les technologies à la pointe du développement web et mobile à des prix d'école donc très compétitifs. 
		</p> 
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action">Impliqué dans le développement local d'une économie sociale et solidaire</h2>
		<p>
			Industriels, artisans, commercants, mais aussi structures associatives, agriculteurs,santé, tous participent à la richesse d'un territoire unique.
			Nous soutenons activement cette richesse territoriale de part le développement d'une économie sociale, solidaire et locale.
		</p>
		<p>
			Certains projets ESS ont déjà vu le jour comme par exemple la mise en relation de producteurs et de consommateurs, des ateliers découverte du numérique et robotique pour les enfants, etc.
		</p>
	</div>
</div>