%h2 PROMO #1
.container
  .single-profile.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
    .titles
      %h3 Foobar Baz
      %h4 Apprenti Front-end
    .tags
      .tag HTML/CSS
      .tag JS
      .tag JQuery
      .tag Ruby
      .tag PHP
      .tag SEO
      .tag Bootstrap
      .tag Git
    %img{:class => "photo", :src => "images/home.png"}/
    %ul.social_icons
      %li
        %a{:href => "#"}
          %i.fa.fa-twitter
      %li
        %a{:href => "#"}
          %i.fa.fa-github
      %li
        %a{:href => "#"}
          %i.fa.fa-envelope-o
    %p Objectif faire partie d'une équipe technique pour être un support sur les aspects design et ergonomie. Pour une meilleure intégration des fonctionnalités.Objectif faire partie d'une équipe technique pour être un support sur les aspects design et ergonomie. Pour une meilleure intégration des fonctionnalités.
  %hr
  .single-profile.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
    %h4 Foobar Baz
    %h5 Apprenti Front-end
    .tags
      .tag HTML/CSS
      .tag JS
      .tag Ruby
      .tag PHP
      .tag SEO
      .tag Bootstrap
      .tag Git
    %img{:class => "photo", :src => "images/home.png"}/
    %ul.social_icons
      %li
        %a{:href => "#"}
          %i.fa.fa-twitter
      %li
        %a{:href => "#"}
          %i.fa.fa-github
      %li
        %a{:href => "#"}
          %i.fa.fa-envelope-o
    %p Objectif faire partie d'une équipe technique pour être un support sur les aspects design et ergonomie. Pour une meilleure intégration des fonctionnalités.
  %hr
  .single-profile.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
    %h4 Foobar Baz
    %h5 Apprenti Front-end
    .tags
      .tag HTML/CSS
      .tag JS
      .tag JQuery
      .tag Ruby
      .tag Bootstrap
      .tag Git
    %img{:class => "photo", :src => "images/home.png"}/
    %ul.social_icons
      %li
        %a{:href => "#"}
          %i.fa.fa-twitter
      %li
        %a{:href => "#"}
          %i.fa.fa-github
      %li
        %a{:href => "#"}
          %i.fa.fa-envelope-o
    %p Objectif faire partie d'une équipe technique pour être un support sur les aspects design et ergonomie. Pour une meilleure intégration des fonctionnalités.
  %hr
