%h2 PROMO #1
.container
  .profile
    .profile-name Foobar Baz
    .profile-job Apprenti Front-end
    .skills
      .skill 1234567890123456
      .skill HTML/CSS
    .profile-photo
    .profile-description Objectif faire partie d'une équipe technique pour être un support sur les aspects design et ergonomie. Pour une meilleure intégration des fonctionnalités.Objectif faire partie d'une équipe technique pour être un support sur les aspects design et ergonomie. Pour une meilleure intégration des fonctionnalités.
    .profile-social
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-github
      %a{:href => "#"}
        %i.fa.fa-envelope-o
