@font-face {
  font-family: 'Raleway-Light';
  src: url('Raleway-Light/Raleway-Light.eot'); /* IE9 Compat Modes */
  src: url('Raleway-Light/Raleway-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('Raleway-Light/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Raleway-Light/Raleway-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alice-Regular';
  src: url('Alice-Regular/Alice-Regular.eot'); /* IE9 Compat Modes */
  src: url('Alice-Regular/Alice-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Alice-Regular/Alice-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Alice-Regular/Alice-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@media screen and (min-width: 992px) {
		.article{
		 width:65%;
		 margin-right: 3%;
		}
		.title {
		font-size: 2.5em;
		}
		.subtitle {
		font-size: 1.5em;
		}
		.content {
		font-size: 1.1em;
		}
		.day {
		height: 80px;
		min-height: 60px;
		min-width: 60px;
		font-size: 4em;
		}
		.date_blog {
		height: 80px;
		min-height: 60px;
		min-width: 100px;
		max-width: 120px;
		}
		.month {
		font-size: 2em;
		}
		.year {
		font-size: 3em;
		}
		.nav_blog{
			height: 30px;
		}
		.form{
			width: 45%;
		}
		.text_field{
			width: 60%;
		}
} 

@media screen and (min-width: 880px) and (max-width: 992px) {
	/*.info { 
		margin-left: 5%;
		 }*/
		 .article{
		 width: 80%;
		 margin-right: 2%;
		}
		.title {
		font-size: 2em;
		}
		.subtitle {
		font-size: 1.2em;
		}
		.content {
		font-size: 0.9em;
		}
		.day {
		height: 70px;
		min-height: 50px;
		min-width: 50px;
		font-size: 3em;
		}
		.date_blog {
		height: 70px; 
		min-height: 50px;
		min-width: 70px;
		max-width: 80px;
		}
		.month {
		font-size: 1.8em;
		}
		.year {
		font-size: 2.4em;
		}
		.nav_blog{
			height: 30px;
		}
		.form{
			width: 80%;
		}
		.text_field{
			width: 60%;
		}

}

@media screen and (min-width: 320px) and (max-width: 880px) {
		.article{
		 width:90%;
		 margin-right: 1%;
		}
		.title {
		font-size: 1.5em;
		}
		.subtitle {
		font-size: 1em;
		}
		.content {
		font-size: 0.8em;
		}
		.day {
		height: 60px;
		min-height: 40px;
		min-width: 40px;
		font-size: 2.5em;
		}
		.date_blog {
		height: 60px;	
		min-height: 40px;
		min-width: 50px;
		max-width: 70px;
		}
		.month {
		font-size: 1.4em;
		}
		.year {
		font-size: 2em;
		}
		.nav_blog{
			height: 30px;
		}
		.form{
			width: 90%;
		}
		.text_field{
			width: 80%;
		}
}

@media screen and (max-width:320px) {
	.article {
		width:99%;
		margin-right: 0%;
	}
	.title {
	font-size: 1.3em;
	}
	.subtitle {
	font-size: 1em;
	}
	.content {
	font-size: 0.8em;
	}
	.day {
	/*height: 50px;*/
	min-height: 48px;
	min-width: 30px;
	font-size: 2em;
	}
	.date_blog {
	/*height: 50px;*/
	min-height: 48px;
	min-width: 40px;
	max-width: 50px;
	}
	.month {
	font-size: 1em;
	}
	.year {
	font-size: 1.5em;
	}
	.form{
	width: 100%;
	}
	ul {
	flex-direction : column;
	align-items : flex-start;
	}
	.selecteur{
	flex-direction : column;
	align-items : flex-start;
	}
	.text_field{
		width: 95%;
	}

}
html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}
.visual{
	display:flex;
	position: relative;
	width: 100%;
	height: 95%;
	float: left;
}
.bandeau{
	display:block;
	position: relative;
	width: 100%;
	float: left;
	background-color: black;
	margin:0;
	margin-top: 0%;
}
.nav_blog{
	display:flex;
	justify-content:center;
	align-items:center;
	position: relative;
	width: 100%;
	float: left;
	margin-top:2%;
	margin-bottom:2%;
	background-color: #ADAEB1;
	padding-top: 1%;
	padding-bottom: 1%;
	box-shadow: 0px 0px 500px black;
	font-family: 'Raleway-Light';
	font-size: 120%;

}
ul{
	display: flex;
	padding-right:3%;
	justify-content: left;
	align-items: center;
	list-style-type: none;
	width: 100%;
}
ul li{
	margin-right: 0%;
	margin-left: 0%;
	align-content: center;
	width: 8%;
	text-align: center;
	min-width: 150px;
}
ul li a{
	color: white;
	text-decoration: none;
	border-left: solid 2px white;
	padding-left: 5%;
}
.container_blog{
	position: relative;
	width: 100%;
	/*margin: 0px;*/
	display: block;
	float:left;
}
.article{
	/*width: 65%;*/
	position: relative;
	float : right;
	margin-bottom: 1%;
	margin-top: 1%;
	/*margin-right: 2%;*/
	box-shadow: 0px 0px 500px grey;
	/*text-align: justify;*/
}
.info_blog{
	display: flex;
	justify-content: flex-start ;
	align-items: flex-start;
	/*background-color: #ADAEB1;*/
	width: 100%;
}
.day{
	background-color: #ADAEB1;
	font-family: 'Alice-Regular';
	color: white;
	display:flex;
	justify-content: center;
}
.date_blog{
	background-color: white;
	font-family: 'Alice-Regular';
	/*font-size: 200%;*/
	color:rgba(255,0,0, 1);
	margin-left:0%;
	padding-left: 1%;
}
.year{
	/*background-color: #B1AFA8;*/
	width: 100%;
	font-family: 'Alice-Regular';
	/*font-size: 1.6em;*/
	color:grey;
	margin-top: -9%;
	/*padding-bottom: 0%;*/
	/*display:flex;*/
}
.month{
	/*font-size: 0.8em;*/
	margin-top: 5%;
}

.title{
	background-color: #FEFCF7;
	padding-left: 2%;
	width: 64%;
	margin:0;
	font-family: 'Alice-Regular';
	font-weight: 300;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
.subtitle{
	display: flex;
	width: 64%;
	margin-left:23%;
	margin-right:10%;
	font-family: 'Alice-Regular';
	font-size: 150%;
	font-weight: 300;
}
.content{
	margin-right:10%;
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: justify;
}
.button{
	float:right;
	margin-right: 5%;
	font-size: 200%;
	color: red;
	text-decoration: none;
}
.form{
	box-shadow: 0px 0px 500px black;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
	padding: 2%;
	font-family: 'Alice-Regular';
}
.selecteur{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.catch {
	background: url('logofestivalpetit.svg');
	width: 25%;
	max-width: 350px;
	min-width: 300px;
	min-height: 80px;
	display: flex;
	margin-top: 20px;
	margin-bottom: 3%;
	position: relative;
	flex-direction:column;
	padding: 2%;
}
.submit_btn{
	background-color: #FEFCF7; 
	margin-bottom: 2%;
	font-family: 'Alice-Regular';
}
.catchnumber {
	width: 100%;
	font-family: 'Raleway-Light';
	font-size: 130%;
	margin-top: 2px;
	justify-content: flex-start;
}
.catchplace {
	width: 100%;
	font-family: 'Alice-Regular';
	font-size: 300%;
	color:rgba(255,0,0, 1);
	/*margin-left: 10%;*/
	text-align: center;
	display: inline-block;
	justify-content: center;
	margin-top: -13px;
}
.catchdate {
	width: 100%;
	font-family: 'Raleway-Light';
	font-size: 130%;
	text-align: right;
	margin-bottom: 5px;
	margin-top: -10px;
	justify-content: flex-end;
}
.icon_blog{
	float: right;
	padding-right: 2%;
}
.home{
	margin-left: 48%;
}
.comment_form{
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: justify;
}
.comment_list{
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: justify;
	margin-right: 10%;
	margin-bottom: 2%;
}
tr, td {
	border: thin solid grey;
	padding: 1%;
}
.nom_blog{
	width:20%;
}
.ancre {
	position: absolute;
	margin-left: 5%;
	margin-top: 3000px;
	margin-bottom: 10%;
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
	/*body { 
		font-size: 3em;
		 }*/
		 .article{
		 width:65%;
		 margin-right: 3%;
		}
		.title {
		font-size: 2.5em;
		}
		.subtitle {
		font-size: 1.5em;
		}
		.content {
		font-size: 1.1em;
		}
		.comment_form{
		font-size: 1.1em;	
		}
		.comment_list{
		font-size: 1.1em;
		}
} 

@media screen and (min-width: 880px) and (max-width: 992px) {
	/*body { 
		font-size: 0.8em;
		 }*/
		 .article{
		 width:80%;
		 margin-right: 2%;
		}
		.title {
		font-size: 2em;
		}
		.subtitle {
		font-size: 1.2em;
		}
		.content {
		font-size: 0.9em;
		}
		.comment_form{
		font-size: 0.9em;	
		}
		.comment_list{
		font-size: 0.9em;
	}
}

@media screen and (min-width: 768px) and (max-width: 880px) {
	/*body { 
		font-size: 0.6em;
		 }*/
		 .article{
		 width:90%;
		 margin-right: 1%;
		}
		.title {
		font-size: 1.5em;
		}
		.subtitle {
		font-size: 1.1em;
		}
		.content {
		font-size: 0.9em;
		}
		.comment_form{
		font-size: 0.9em;	
		}
		.comment_list{
		font-size: 0.9em;
	}
}

@media screen and (max-width:768px) {
	/*body {
		font-size: 0.6;
	}*/
	.article {
		width:99%;
		margin-right: 0%;
	}
	.title {
	font-size: 1.3em;
	}
	.subtitle {
	font-size: 1.1em;
	}
	.content {
	font-size: 0.9em;
	}
	.comment_form{
	font-size: 0.9em;	
	}
	.comment_list{
	font-size: 0.9em;
	}
}
/*@media (max-width: 992px) {
html { font-size: 0.9em!important; }
}
@media (max-width: 880px) {
html { font-size: 0.8em!important; }
}
@media (max-width: 768px) {
html { font-size: 0.6em!important; }
*/