.polygone-vert {
	width: 200px;
	 position : absolute;
            z-index : 2;
}
.polygone-bleu {
	width: 200px;
	position : absolute;
           z-index : 1;
}
.call-to-action-txt {
	font-weight: bold;
	font-style: 'museo';
	position: absolute;
           z-index: 3;
           top: 50px;
           padding-left: 30px;
           color: #E6154D;
}
.calltoaction-button .polygone-vert{
	-webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;
 }
.calltoaction-button:hover .polygone-vert{
	transform:rotate(352deg);
}
.calltoaction-button {
	float: left;
}