.fond-ecran {
	width: 100%;
	display: cover;

}

.introduction {
	font-family: 'Raleway-Light';
	font-size: 1.2em;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: left;
}

h2 {
	color: rgba(136, 136, 136, 1);
}

.intro_simplonve {
	width: 30%;
	min-width: 300px;
	padding-left: 2%;
}
.intro_simploniens {
	width: 30%;
	min-width: 300px;
	padding-left: 2%;
	margin-left: 2%;
}
/*.calltxt {
	width: 60%;
	min-width: 500px;
	margin-right: 4%;
	padding-left: 5%;
	font-family: 'Museo';
	font-size: 1.4em;
	text-align: left;
}*/
.calltoaction-button {
	width: 25%;
	min-width: 250px;
	margin-left: 10%;
	padding: auto; 
}

.polygone-vert {

	width: 20%;
	min-width: 200px;
	position : absolute;
    z-index : 1;
}

.polygone-bleu {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	width: 20%;
	min-width: 200px;
	position : absolute;
    z-index : 2;
    transform:rotate(-8deg);

}
.polygone-bleu:hover {
	transform:rotate(8deg);
}
