.polygone-vert {
	width: 15%;
	position : absolute;
    z-index : 1;
    transform: rotate(-8deg);
}
.polygone-bleu {
	width: 15%;
	position : absolute;
    z-index : 2;
}
.polygone-bleu{
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
 }
.polygone-bleu:hover {
	transform:rotate(-8deg);
}
.calltoaction-button {
	width: 1%;
    padding-left: 77%;
    padding-bottom: 12%;
    padding-top: 8%;


}