

.zone-citation {
  width: 100%;
  height: 180px;
  float: left;
  background-color: rgba(136, 136, 136, 0.1);
  background-size: 100% auto; }

.citation {
  font-family: 'Raleway-Light';
  font-size: 1.1em;
  color: #301515; }

.auteur {
  font-family: 'Raleway-Light';
  font-size: 0.9em;
  text-align: right;
  padding: 1% 2% 2% 50%; }

#mainText {
  height: 25%;
  top: 150px;
  width: 50%;
  margin: 50px auto;
}

word {
  display: inline-block; }

letter {
  display: inline-block;
  white-space: pre;
  background: none;
  transition: 0.5s; }
  letter.initial {
    opacity: 0;
    text-shadow: 0 0 9px;
    color: white;
    transform: scale(3);
    transform-origin: 150% 50%; }