footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items:center;
	align-content: space-around;
	background-color: #407ca7;
	position: relative;
	float: left;
	height: 200px;
	bottom: 0;
	font-family: 'Museo';
	font-size: 0.8em;
}