footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items:center;
	align-content: space-around;
	background-color: #407ca7;
	position: relative;
	float: left;
	height: 200px;
	bottom: 0;
}


/*.reseaux_sociaux {
	margin-left: 75%;
	display: block;
	background-color: #404040;
}

.simplonco {
	margin-left: 5%;
}

.mail {

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	margin-left: 75%;
	display: block;
	font-size: 1em;
}*/
