footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items:center;
	align-content: space-around;
	background-color: #333;
	position: relative;
	float: left;
	height: 180px;
	bottom: 0;
	font-family: 'Museo';
	font-size: 0.8em;
}
#twitter {
	display: block;
	float: left;
	background: url('twittersansfond.svg');
	width: 50px;
	height: 50px;
}
#twitter:hover {
	background: url('twitter.svg');
	width: 50px;
	height: 50px;
}
#facebook {
	display: block;
	float: left;
	background: url('facebooksansfond.svg');
	width: 50px;
	height: 50px;
}
#facebook:hover {
	background: url('facebook.svg');
	width: 50px;
	height: 50px;
}

.mail {
	font-size: 1.1em;
	color: #888888;
}

h4 {
	font-size: 1.2em;
	color:#C5C5C5;

}