html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 40px;
}

.navigationve {
	display: block;
	position: fixed;
	top: 0;
	float: left;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 9999;
}

.navigationve-link {
	display: block;
	float: left;
	width: 10%;
	height: 40px;
}

.navigationve-link a {
	display: block;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 1.25em;
	text-transform: capitalize;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	border: none;
}

.navigationve-link a:hover {
  background-color: rgba(255,255,255,0.25);
}