.layout_nav {
	margin: 0 0 0 -140px;
	width: 150px;
	height: 100%;
	background-color: #00518A;
	opacity: 0.75;
	padding: 1%;
	position: fixed;
	transition: all 0.7s;
	z-index: 9999;
}
.layout_nav:hover{
	margin:0;
}

.link_nav {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 1.2em;
	line-height: 2.5;
}

.link_nav:hover {
	color: #7D9E41;
	text-decoration: none;
}

.main-content {
	width: 100%;
	min-height: 112%;
	float: left;
	text-align: center;
	background: url('photonb2.png');
	background-size: 100%;
}