.page_action{
	display: block;
	width: 80%;
	margin:auto;
}

h2{
	text-align: center;
	margin: 3%; 
}
.prochaine_session{
	display: block;
	width: 85%;
	padding: 8% 7%;
}

.intervenants_ext{

}

.clients{

}

.dev_ter_ess{
	
}