.container{
  display: block;
  float: left;
  width: calc(100% - 50px);
  margin-left: 50px;
}
.profile {
  display: block;
  float: left;
  width:31.3333%;
  border: 1px solid #DDD;
  margin:1%;
}
.profile-name {
  display: block;
  float: left;
  width: 100%;
}
.profile-job {
  @extend .profile-name;
}
.skills {
  display: flex;
  flex-direction: column;
  float: left;
  width: 33.3333%;

  .skill {
    display: block;
    float: left;
    width: 90%;
    margin: 2% auto;
    padding: 2% 0;
    border: solid 2px rgb(230,230,230);
    color: rgb(130,130,130);
  }
}
.profile-photo {
  display: block;
  float: left;
  width: 56.6666%;
  margin: 0 5%;
  height: 0;
  padding-top: 66%;
  background-color: #000;
}
.profile-social {
  display: flex;
  float: left;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.profile-description {
  display: block;
  float: left;
  width: 100%;
}
