// Place all the styles related to the bandeau controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.twitter {
	width: 100%;
    min-height: 90%;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}