<footer>
	<a href="http://simplon.co" target="_blank"><%= image_tag("logosimploncogris.svg", class: "simplonco") %></a>
	<div class="mail">
	<p>Contactez-nous</p>
	<p>zardev@simplonve.co</p>
	<p>Pôleyrieux</p>
	<p>Aric industrie, 07160 Le Cheylard</p>
	<p> Tel : 09 70 65 01 17</p>
	</div>

	<div class="reseaux_sociaux">
	  <a href="https://twitter.com/simplonve" id="twitter" target="_blank"></a>
    <a href="http://www.facebook.com/simplonve" id="facebook" target="_blank"></a>
	</div>
</footer>