<footer>
	<a href="http://simplon.co" target="_blank"><%= image_tag("logosimploncogris.svg", class: "simplonco") %></a>
	<p class="mail">Contactez nous par mail sur zardev@simplonve.co</p>
	<div class="reseaux_sociaux">
	  <a href="https://twitter.com/simplonve" id="twitter" target="_blank"></a>
    <a href="http://www.facebook.com/simplonve" id="facebook" target="_blank"></a>
	</div>
</footer>