<nav class="layout_nav">
	<%= link_to 'accueil', root_path, :class => "link_nav" %>
	<%= link_to 'intervenants', intervenants_path, :class => "link_nav" %>
	<%= link_to 'réalisations', root_path, :class => "link_nav" %> 
</nav>