<nav class="layout_nav">
	<div id="nav-toggle"><div class="burger" ><span></span></div></div>
	<div class="liens">
	    <%= link_to 'accueil', root_path, :class => "link_nav" %>
		<%= link_to 'planete', home_page_actions_path, :class => "link_nav" %>
		<%= link_to 'intervenants', intervenants_path, :class => "link_nav" %>
	</div>
</nav>
